.aligncenter {
  text-align:center;
}
body {
  background-image:url(../imgs/greentriangles.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}
.images {
  height:270px;
  float:left; 
}
.imagecontainer {
  border:solid 2px rgb(109, 51, 0);
  background-color:rgb(255, 255, 203);
  float:left;
  margin-left:19%;
  margin-top:2%;
  height:310px;
}