.aboutme {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: left;
  margin-left: 29%;
  margin-top:60px;
  border: solid 2px black;
  padding:5px;
  background-color:rgb(255, 255, 203);
  width: 15%
}
.myname {
  color:rgb(14, 189, 189);
  text-align: center;
  font-style:italic;
}
.aligncenter {
  text-align: center
}
.redtext {
  color:red;
}
.greentext {
  color:green;
}
.xpandproj {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: left;
  margin-left: 10%;
  margin-top:60px;
  border: solid 2px black;
  padding: 5px;
  background-color:rgb(255, 255, 203);
  width: 15%
}
body {
  background-image:url(../imgs/wfdt.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}